<!--The whole content below can be removed with the new code.-->
<div>
  <h1>
    {{title}}!!
  </h1>
  <hr>
<h2>Favorite Color</h2>
<div id="box" [style.background]="favoriteColor">{{favoriteColor}}</div>
<button type="button" (click)="setColor('blue')">Blue</button>
<button type="button" (click)="setColor('red')">Red</button>
<button type="button" (click)="setColor('pink')">Pink</button>
<button type="button" (click)="setColor('purple')">Purple</button>
<button type="button" (click)="setColor('black')">Black</button>
<br>
<button type="button">Update</button>
<hr>
<h2>Favorite Number = {{favoriteNumber}}</h2>

<button type="button" (click)="setNumber(favoriteNumber + 1)">Up</button>
<button type="button" (click)="setNumber(favoriteNumber - 1)">Down</button>
<button type="button" (click)="setNumber(0)">Reset</button>
<hr>

  
 

